<div class="wrapper">
            <div class="section">
                <div class="container w-container">
                    <div class="_12-columns mob-center">
                        <div class="column desk-6">
                            <div class="text-box _500px">
                                <h1 class="heading large-h1">
                                    Time to get all your notes in order.
                                </h1>
                                <p class="paragraph large">
                                    Peachy uses AI to bring your notes and writing to the next level
                                    for faster and smarter content.
                                </p>
                                <div class="spacer _16"></div>
                                <a href="@Url.Action("Register", "Home")" class="button w-button">Get started</a>
                            </div>
                        </div>
                        <div class="column desk-1 tab-0 mob-1"></div>
                        <div class="column desk-5">
                            <img
                                src="~/images/artificial-20intelligence_flatline.svg"
                                alt="Desktop and Mobile illustration"
                                width="359"
                                class="center-image" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="section medium soft-blue">
                <div class="container w-container">
                    <div class="_4-grid">
                        <div class="feature-horizontal no-margin">
                            <img src="~/images/orange-20tick.svg" alt="" class="side-icon" />
                            <div><h3 class="heading h5 no-margin">Ongoing free plan</h3></div>
                        </div>
                        <div class="feature-horizontal no-margin">
                            <img src="~/images/orange-20tick.svg" alt="" class="side-icon" />
                            <div><h3 class="heading h5 no-margin">Fast sign-up</h3></div>
                        </div>
                        <div class="feature-horizontal no-margin">
                            <img src="~/images/orange-20tick.svg" alt="" class="side-icon" />
                            <div><h3 class="heading h5 no-margin">Fully encrypted</h3></div>
                        </div>
                        <div class="feature-horizontal no-margin">
                            <img src="~/images/orange-20tick.svg" alt="" class="side-icon" />
                            <div><h3 class="heading h5 no-margin">Automate easily</h3></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section large">
                <div class="container">
                    <div class="w-layout-grid feature-grid">
                        <img
                            src="~/images/architect_flatline.svg"
                            alt="Desktop and Mobile illustration"
                            width="324"
                            class="center-image" />
                        <div class="text-box">
                            <h2 class="heading h2">Set, forget, and then stay informed.</h2>
                            <p class="paragraph medium">
                                Peachy lets you design and streamline your everyday tasks and
                                workflows in just a few clicks.
                            </p>
                            <div class="spacer _16"></div>
                            <div class="_2-grid tablet-stack">
                                <div class="small-text-card">
                                    <img src="~/images/coins.svg" alt="" class="icon small" />
                                    <h2 class="heading h5">Fast. Really fast.</h2>
                                    <p class="paragraph small">
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                        laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                                <div class="small-text-card">
                                    <img src="~/images/magicwand.svg" alt="" class="icon small" />
                                    <h2 class="heading h5">Safe and secure.</h2>
                                    <p class="paragraph small">
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                        laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section light-grey">
                <div class="container w-container">
                    <div class="w-layout-grid feature-grid">
                        <div class="text-box">
                            <h2 class="heading h2">Save time, while you save money.</h2>
                            <div class="spacer _24"></div>
                            <div class="w-layout-grid _2-grid">
                                <div class="text-box">
                                    <img src="~/images/magnet.svg" alt="" class="icon small" />
                                    <h3 class="heading h5">Connect your socials.</h3>
                                    <p class="paragraph">
                                        Amet, consectetur adipiscing elit. Suspendisse varius enim
                                        ine eros elementum tristique.
                                    </p>
                                </div>
                                <div class="text-box">
                                    <img src="~/images/books.svg" alt="" class="icon small" />
                                    <h3 class="heading h5">Fully protected.</h3>
                                    <p class="paragraph">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Suspendisse varius.
                                    </p>
                                </div>
                                <div class="text-box">
                                    <img
                                        src="~/images/plugsconnected.svg"
                                        alt=""
                                        class="icon small" />
                                    <h3 class="heading h5">Easy to manage.</h3>
                                    <p class="paragraph">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Suspendisse varius.
                                    </p>
                                </div>
                                <div class="text-box">
                                    <img src="~/images/magicwand.svg" alt="" class="icon small" />
                                    <h3 class="heading h5">Track everything.</h3>
                                    <p class="paragraph">
                                        Adipiscing elit. Suspendisse varius enim ine eros elementum
                                        tristique bibo.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <img
                            src="~/images/crossed-20flags_flatline.svg"
                            alt="Desktop and Mobile illustration"
                            width="421"
                            class="center-image" />
                    </div>
                </div>
            </div>
            <div class="section dark-green">
                <div class="container w-container">
                    <div
                        data-duration-in="300"
                        data-duration-out="100"
                        data-current="Tab 1"
                        data-easing="ease"
                        class="vertical-tab w-tabs">
                        <div class="tabs-menu w-tab-menu">
                            <a
                                data-w-tab="Tab 1"
                                class="tab-link w-inline-block w-tab-link w--current"
                                ><div>No context switching.</div></a
                            ><a data-w-tab="Tab 2" class="tab-link w-inline-block w-tab-link"
                                ><div>More bang for buck.</div></a
                            ><a data-w-tab="Tab 3" class="tab-link w-inline-block w-tab-link"
                                ><div>Sale and secure.</div></a
                            >
                        </div>
                        <div class="w-tab-content">
                            <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
                                <div class="_12-columns">
                                    <div class="column desk-1 tab-0"></div>
                                    <div class="column desk-5">
                                        <img
                                            width="319"
                                            src="~/images/23294_online_payment_flatline.svg"
                                            alt=""
                                            class="center-image" />
                                    </div>
                                    <div class="column desk-5">
                                        <div class="text-box mob-center">
                                            <h2 class="heading h2">
                                                Do everything in the same app.
                                            </h2>
                                            <p class="paragraph medium">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit. Suspendisse varius enim in eros elementum
                                                tristique.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="column desk-1 tab-0"></div>
                                </div>
                            </div>
                            <div data-w-tab="Tab 2" class="w-tab-pane">
                                <div class="_12-columns">
                                    <div class="column desk-1 tab-0"></div>
                                    <div class="column desk-5">
                                        <img
                                            width="299"
                                            src="~/images/artificial-20intelligence_flatline.svg"
                                            alt=""
                                            class="center-image" />
                                    </div>
                                    <div class="column desk-5">
                                        <div class="text-box mob-center">
                                            <h2 class="heading h2">
                                                Know your need to know numbers.
                                            </h2>
                                            <p class="paragraph medium">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit. Suspendisse varius enim in eros elementum
                                                tristique.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="column desk-1 tab-0"></div>
                                </div>
                            </div>
                            <div data-w-tab="Tab 3" class="w-tab-pane">
                                <div class="_12-columns mob-swap">
                                    <div class="column desk-1 tab-0"></div>
                                    <div class="column desk-5">
                                        <img
                                            width="371"
                                            src="~/images/graphics-20and-20charts_flatline.svg"
                                            alt=""
                                            class="center-image" />
                                    </div>
                                    <div class="column desk-5">
                                        <div class="text-box mob-center">
                                            <h2 class="heading h2">
                                                Get the best trading tips and tricks.
                                            </h2>
                                            <p class="paragraph medium">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit. Suspendisse varius enim in eros elementum
                                                tristique.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="column desk-1 tab-0"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="container w-container">
                    <div class="text-box">
                        <h2 class="heading h1">Lots to like, more to love.</h2>
                        <div class="spacer _32"></div>
                    </div>
                    <div class="_3-grid">
                        <div class="white-text-card">
                            <img src="~/images/magicwand.svg" alt="" class="icon" />
                            <h2 class="heading h4">Fast. Really fast</h2>
                            <p>
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                        <div class="white-text-card">
                            <img src="~/images/coins.svg" alt="" class="icon" />
                            <h2 class="heading h4">More bang for buck</h2>
                            <p>
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                        <div class="white-text-card">
                            <img src="~/images/plugsconnected.svg" alt="" class="icon" />
                            <h2 class="heading h4">Safe and secure</h2>
                            <p>
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>