@model RegisterViewModel

@{
    Layout = "_LoginRegisterLayout";
}


<div class="center-card">
    <div class="text-box">
        <h1 class="heading h3">Get Started</h1>
        <p class="paragraph medium">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco.
        </p>
    </div>
    <div class="spacer _16"></div>
    <form id="registrationForm">
        <input type="email" asp-for="Email" placeholder="Enter your email" required>
        <input type="password" asp-for="Password" placeholder="Enter your password" required>
        <button type="submit">Sign In</button>
    </form>
    <div class="spacer _16"></div>
    <p class="paragraph small no-margin">
        By clicking the button above, you agree to our
        <a href="/terms-conditions" target="_blank">Terms &amp; Conditions</a> and
        <a href="/privacy-policy" target="_blank">Privacy Policy</a>.
    </p>
</div>