@{
    Layout = "_LoginRegisterLayout";
}


<div class="center-card">
                <div class="text-box">
                    <h1 class="heading h3">Sign In</h1>
                    <p class="paragraph medium">Welcome back, it&#x27;s good to see you.</p>
                </div>
                <div class="spacer _16"></div>
                <div class="form-wrapper w-form">
                    <form
                        id="wf-form-Sign-In-Form"
                        name="wf-form-Sign-In-Form"
                        data-name="Sign In Form"
                        method="get"
                        class="form"
                        data-wf-page-id="650b1180815c14a2cd40f693"
                        data-wf-element-id="e589e84a-0ba8-c850-6ac1-a4c50ec4c3c8">
                        <input
                            class="text-input w-input"
                            maxlength="256"
                            name="Email"
                            data-name="Email"
                            placeholder="hello@gmail.com"
                            type="email"
                            id="Email" /><input
                            class="text-input no-margin w-input"
                            maxlength="256"
                            name="Password"
                            data-name="Password"
                            placeholder="********"
                            type="password"
                            id="field"
                            required="" />
                        <div class="spacer _24"></div>
                        <input
                            type="submit"
                            data-wait="Please wait..."
                            class="button no-margin w-button"
                            value="Sign Up" />
                    </form>
                    <div class="form-success w-form-done">
                        <div>Thank you! Check your email for confirmation.</div>
                    </div>
                    <div class="form-error w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                </div>
                <div class="spacer _16"></div>
                <p class="paragraph small no-margin">
                    Forgot your password? <a href="/reset-password">Reset it here.</a>
                </p>
            </div>