@{
    Layout = "_PricingLayout";
}

<div class="wrapper">
            <div class="section">
                <div class="container w-container">
                    <div class="text-box center-align">
                        <h1 class="heading large-h1">Our pricing</h1>
                        <p class="paragraph l">
                            From the small stuff to the big picture, our product organizes work so
                            teams are clear what to do, why it matters, and how to get it done.
                        </p>
                    </div>
                    <div class="spacer _80"></div>
                    <div class="w-layout-grid _3-grid">
                        <div
                            data-w-id="82e37bf4-6256-9574-5cea-02ad52a48179"
                            style="opacity: 0"
                            class="pricing-card">
                            <h2>Start</h2>
                            <p>Basic live chat and outbound messaging.</p>
                            <h3 class="no-margin">$19<span class="regular">/month</span></h3>
                            <p class="paragraph small">or $199 a year</p>
                            <div class="spacer _16"></div>
                            <a href="#" class="button outline w-button">Try for Free</a>
                            <div class="spacer _24"></div>
                            <div class="tick-list w-richtext">
                                <ul role="list">
                                    <li>Includes 1 seat</li>
                                    <li>Live chat</li>
                                    <li>Targeted outbound chat</li>
                                    <li>Team inbox</li>
                                    <li>Slack integration</li>
                                </ul>
                            </div>
                        </div>
                        <div
                            data-w-id="82e37bf4-6256-9574-5cea-02ad52a48195"
                            style="opacity: 0"
                            class="pricing-card popular-outline">
                            <div class="pricing-reccomended-tag">Most Popular</div>
                            <h2>Grow</h2>
                            <p>Chat, targeted email, and self-service support.</p>
                            <h3 class="no-margin">$49<span class="regular">/month</span></h3>
                            <p class="paragraph small">or $499 a year</p>
                            <div class="spacer _16"></div>
                            <a href="#" class="button w-button">Try for Free</a>
                            <div class="spacer _24"></div>
                            <div class="tick-list w-richtext">
                                <ul role="list">
                                    <li><strong>Everything in Start</strong></li>
                                    <li>Workload management</li>
                                    <li>Dedicated relationship manager</li>
                                    <li>Access to all integrations</li>
                                    <li>Unlimited documents</li>
                                    <li>Ticketing workflows</li>
                                    <li>Collaberative documents</li>
                                    <li>Locked documents</li>
                                </ul>
                            </div>
                        </div>
                        <div
                            data-w-id="82e37bf4-6256-9574-5cea-02ad52a481b8"
                            style="opacity: 0"
                            class="pricing-card">
                            <h2>Scale</h2>
                            <p>Advanced workflows, permissions, and security.</p>
                            <h3 class="no-margin">$79<span class="regular">/month</span></h3>
                            <p class="paragraph small">or $799 a year</p>
                            <div class="spacer _16"></div>
                            <a href="#" class="button outline w-button">Try for Free</a>
                            <div class="spacer _24"></div>
                            <div class="tick-list w-richtext">
                                <ul role="list">
                                    <li><strong>Everything in Grow</strong></li>
                                    <li>Ongoing product consultation</li>
                                    <li>Tailored training sessions</li>
                                    <li>99.9% uptime</li>
                                    <li>1-day support turnaround</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="pricing-grid">
                        <div class="pricing-grid-row top">
                            <div
                                id="w-node-_3010b57d-ae86-61d8-e6e0-48d7bf6c90b4-cd40f68d"
                                class="pricing-features-title-block">
                                <h2 class="heading h3">All features</h2>
                            </div>
                            <div class="plan-header"><h3 class="heading h5">Standard</h3></div>
                            <div class="plan-header"><h3 class="heading h5">Advance</h3></div>
                            <div class="plan-header"><h3 class="heading h5">Enterprise</h3></div>
                        </div>
                        <div class="pricing-grid-section">
                            <div class="pricing-grid-row">
                                <div
                                    id="w-node-_3010b57d-ae86-61d8-e6e0-48d7bf6c90c9-cd40f68d"
                                    class="pricing-row-title-block">
                                    <p class="paragraph large no-margin">
                                        <strong>Pages and blocks</strong>
                                    </p>
                                    <p class="pricing-feature-description-text">
                                        Lorem ipsum dolor sit amet, consectetur adifdo elit, sed do
                                        eiusmod.
                                    </p>
                                </div>
                                <img
                                    src="~/images/orange-20tick.svg"
                                    loading="lazy"
                                    width="20"
                                    alt=""
                                    class="pricing-grid-tick" /><img
                                    src="~/images/orange-20tick.svg"
                                    loading="lazy"
                                    width="20"
                                    alt=""
                                    class="pricing-grid-tick" /><img
                                    src="~/images/orange-20tick.svg"
                                    loading="lazy"
                                    width="20"
                                    alt=""
                                    class="pricing-grid-tick" />
                            </div>
                            <div class="pricing-grid-row">
                                <div
                                    id="w-node-_3010b57d-ae86-61d8-e6e0-48d7bf6c90d3-cd40f68d"
                                    class="pricing-row-title-block">
                                    <p class="paragraph large no-margin">
                                        <strong>Team members</strong>
                                    </p>
                                    <p class="pricing-feature-description-text">
                                        Lorem ipsum dolor sit amet, consectetur.
                                    </p>
                                </div>
                                <img
                                    src="~/images/orange-20tick.svg"
                                    loading="lazy"
                                    width="20"
                                    alt=""
                                    class="pricing-grid-tick" /><img
                                    src="~/images/orange-20tick.svg"
                                    loading="lazy"
                                    width="20"
                                    alt=""
                                    class="pricing-grid-tick" /><img
                                    src="~/images/orange-20tick.svg"
                                    loading="lazy"
                                    width="20"
                                    alt=""
                                    class="pricing-grid-tick" />
                            </div>
                            <div class="pricing-grid-row">
                                <div
                                    id="w-node-_3010b57d-ae86-61d8-e6e0-48d7bf6c90dd-cd40f68d"
                                    class="pricing-row-title-block">
                                    <p class="paragraph large no-margin">
                                        <strong>Version history</strong>
                                    </p>
                                    <p class="pricing-feature-description-text">
                                        Lorem ipsum dolor sit amet, consectetur adifdo elit, sed do
                                        eiusmod.
                                    </p>
                                </div>
                                <img
                                    src="~/images/orange-20tick.svg"
                                    loading="lazy"
                                    width="20"
                                    alt=""
                                    class="pricing-grid-tick" /><img
                                    src="~/images/orange-20tick.svg"
                                    loading="lazy"
                                    width="20"
                                    alt=""
                                    class="pricing-grid-tick" /><img
                                    src="~/images/orange-20tick.svg"
                                    loading="lazy"
                                    width="20"
                                    alt=""
                                    class="pricing-grid-tick" />
                            </div>
                            <div class="pricing-grid-row">
                                <div
                                    id="w-node-_3010b57d-ae86-61d8-e6e0-48d7bf6c9105-cd40f68d"
                                    class="pricing-row-title-block">
                                    <p class="paragraph large no-margin">
                                        <strong>Wikis, docs, &amp; notes</strong>
                                    </p>
                                    <p class="pricing-feature-description-text">
                                        Lorem ipsum dolor sit amet, consectetur.
                                    </p>
                                </div>
                                <img
                                    src="~/images/simple-20grey-20cross.svg"
                                    loading="lazy"
                                    width="20"
                                    alt="Cross Icon"
                                    class="pricing-grid-cross" /><img
                                    src="~/images/orange-20tick.svg"
                                    loading="lazy"
                                    width="20"
                                    alt=""
                                    class="pricing-grid-tick" /><img
                                    src="~/images/orange-20tick.svg"
                                    loading="lazy"
                                    width="20"
                                    alt=""
                                    class="pricing-grid-tick" />
                            </div>
                            <div class="pricing-grid-row">
                                <div
                                    id="w-node-_3010b57d-ae86-61d8-e6e0-48d7bf6c910f-cd40f68d"
                                    class="pricing-row-title-block">
                                    <p class="paragraph large no-margin">
                                        <strong>50+ starter templates</strong>
                                    </p>
                                    <p class="pricing-feature-description-text">
                                        Lorem ipsum dolor sit amet, consectetur adifdo elit, sed do
                                        eiusmod.
                                    </p>
                                </div>
                                <img
                                    src="~/images/simple-20grey-20cross.svg"
                                    loading="lazy"
                                    width="20"
                                    alt="Cross Icon"
                                    class="pricing-grid-cross" /><img
                                    src="~/images/orange-20tick.svg"
                                    loading="lazy"
                                    width="20"
                                    alt=""
                                    class="pricing-grid-tick" /><img
                                    src="~/images/orange-20tick.svg"
                                    loading="lazy"
                                    width="20"
                                    alt=""
                                    class="pricing-grid-tick" />
                            </div>
                            <div class="pricing-grid-row">
                                <div
                                    id="w-node-_3010b57d-ae86-61d8-e6e0-48d7bf6c9119-cd40f68d"
                                    class="pricing-row-title-block">
                                    <p class="paragraph large no-margin">
                                        <strong>Version history</strong>
                                    </p>
                                    <p class="pricing-feature-description-text">
                                        Lorem ipsum dolor sit amet, consectetur.
                                    </p>
                                </div>
                                <img
                                    src="~/images/simple-20grey-20cross.svg"
                                    loading="lazy"
                                    width="20"
                                    alt="Cross Icon"
                                    class="pricing-grid-cross" /><img
                                    src="~/images/orange-20tick.svg"
                                    loading="lazy"
                                    width="20"
                                    alt=""
                                    class="pricing-grid-tick" /><img
                                    src="~/images/orange-20tick.svg"
                                    loading="lazy"
                                    width="20"
                                    alt=""
                                    class="pricing-grid-tick" />
                            </div>
                            <div class="pricing-grid-row">
                                <div
                                    id="w-node-_3010b57d-ae86-61d8-e6e0-48d7bf6c9123-cd40f68d"
                                    class="pricing-row-title-block">
                                    <p class="paragraph large no-margin">
                                        <strong>Permission groups</strong>
                                    </p>
                                    <p class="pricing-feature-description-text">
                                        Lorem ipsum dolor sit amet, consectetur adifdo elit, sed do
                                        eiusmod.
                                    </p>
                                </div>
                                <img
                                    src="~/images/simple-20grey-20cross.svg"
                                    loading="lazy"
                                    width="20"
                                    alt="Cross Icon"
                                    class="pricing-grid-cross" /><img
                                    src="~/images/simple-20grey-20cross.svg"
                                    loading="lazy"
                                    width="20"
                                    alt="Cross Icon"
                                    class="pricing-grid-cross" /><img
                                    src="~/images/orange-20tick.svg"
                                    loading="lazy"
                                    width="20"
                                    alt=""
                                    class="pricing-grid-tick" />
                            </div>
                            <div class="pricing-grid-row">
                                <div
                                    id="w-node-_3010b57d-ae86-61d8-e6e0-48d7bf6c912d-cd40f68d"
                                    class="pricing-row-title-block">
                                    <p class="paragraph large no-margin">
                                        <strong>Unlimited team members</strong>
                                    </p>
                                    <p class="pricing-feature-description-text">
                                        Lorem ipsum dolor sit amet, consectetur.
                                    </p>
                                </div>
                                <img
                                    src="~/images/simple-20grey-20cross.svg"
                                    loading="lazy"
                                    width="20"
                                    alt="Cross Icon"
                                    class="pricing-grid-cross" /><img
                                    src="~/images/simple-20grey-20cross.svg"
                                    loading="lazy"
                                    width="20"
                                    alt="Cross Icon"
                                    class="pricing-grid-cross" /><img
                                    src="~/images/orange-20tick.svg"
                                    loading="lazy"
                                    width="20"
                                    alt=""
                                    class="pricing-grid-tick" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section light-grey">
                <div class="container w-container">
                    <div class="text-box _750px center-align">
                        <h2 class="heading h2">Frequently Asked Questions</h2>
                        <div class="spacer _48"></div>
                        <div class="questions-wrapper">
                            <div
                                href="#"
                                data-ix="show-answer"
                                data-w-id="0ceb7e46-d314-e9b3-6e57-8e7ba906e393"
                                class="question-block">
                                <div class="question">
                                    <h3 class="heading h4">What happens if I run out of credit?</h3>
                                    <img
                                        src="~/images/simple-20grey-20dropdown.svg"
                                        alt=""
                                        class="question-arrow-icon" />
                                </div>
                                <div
                                    data-ix="hide-on-load"
                                    style="display: none; height: 0px"
                                    class="answer">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua.
                                    </p>
                                </div>
                            </div>
                            <div
                                href="#"
                                data-ix="show-answer"
                                data-w-id="0ceb7e46-d314-e9b3-6e57-8e7ba906e39c"
                                class="question-block">
                                <div class="question">
                                    <h3 class="heading h4">How is pricing calculated?</h3>
                                    <img
                                        src="~/images/simple-20grey-20dropdown.svg"
                                        alt=""
                                        class="question-arrow-icon" />
                                </div>
                                <div
                                    data-ix="hide-on-load"
                                    style="display: none; height: 0px"
                                    class="answer">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                            <div
                                href="#"
                                data-ix="show-answer"
                                data-w-id="0ceb7e46-d314-e9b3-6e57-8e7ba906e3a5"
                                class="question-block">
                                <div class="question">
                                    <h3 class="heading h4">How does adding members work?</h3>
                                    <img
                                        src="~/images/simple-20grey-20dropdown.svg"
                                        alt=""
                                        class="question-arrow-icon" />
                                </div>
                                <div
                                    data-ix="hide-on-load"
                                    style="display: none; height: 0px"
                                    class="answer">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua.
                                    </p>
                                </div>
                            </div>
                            <div
                                href="#"
                                data-ix="show-answer"
                                data-w-id="0ceb7e46-d314-e9b3-6e57-8e7ba906e3ae"
                                class="question-block">
                                <div class="question">
                                    <h3 class="heading h4">What happens when I change plans?</h3>
                                    <img
                                        src="~/images/simple-20grey-20dropdown.svg"
                                        alt=""
                                        class="question-arrow-icon" />
                                </div>
                                <div
                                    data-ix="hide-on-load"
                                    style="display: none; height: 0px"
                                    class="answer">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua.
                                    </p>
                                </div>
                            </div>
                            <div
                                href="#"
                                data-ix="show-answer"
                                data-w-id="0ceb7e46-d314-e9b3-6e57-8e7ba906e3b7"
                                class="question-block">
                                <div class="question">
                                    <h3 class="heading h4">Can I change my payment method?</h3>
                                    <img
                                        src="~/images/simple-20grey-20dropdown.svg"
                                        alt=""
                                        class="question-arrow-icon" />
                                </div>
                                <div
                                    data-ix="hide-on-load"
                                    style="display: none; height: 0px"
                                    class="answer">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>