<div class="footer">
            <div class="footer-container w-container">
                <div class="w-layout-grid footer-grid">
                    <div
                        id="w-node-b66374b8-a69d-2cb6-3980-23c2cf3fcb8a-cf3fcb86"
                        class="footer-logo-box">
                        <a
                            data-ix="logo"
                            href="/"
                            aria-current="page"
                            class="footer-logo w-nav-brand w--current"
                            ><img src="images/peachy-20logo.svg" width="151" alt=""
                        /></a>
                        <p class="paragraph small">
                            Built by
                            <a href="https://www.nikolaibain.com" target="_blank">Nikolai Bain</a
                            >.<br />Powered by
                            <a href="http://www.webflow.com" target="_blank">Webflow</a>.<br />
                        </p>
                        <div class="spacer _48"></div>
                    </div>
                    <div class="footer-links-container">
                        <h5 class="footer-header">Info</h5>
                        <a href="/features" class="footer-link">Features</a
                        ><a href="/pricing" class="footer-link">Pricing</a
                        ><a href="/blog" class="footer-link">Blog</a
                        ><a href="/integrations" class="footer-link">Integrations</a
                        ><a href="/terms-conditions" class="footer-link">Terms &amp; Conditions</a
                        ><a href="/privacy-policy" class="footer-link">Privacy Policy</a>
                    </div>
                    <div class="footer-links-container">
                        <h5 class="footer-header">Admin</h5>
                        <a href="/admin/style-guide" class="footer-link">Style Guide</a
                        ><a href="/admin/licenses" class="footer-link">Licenses</a
                        ><a href="/admin/instructions" class="footer-link">Instructions</a
                        ><a href="/admin/changelog" class="footer-link">Changelog</a
                        ><a href="/401" class="footer-link">Password</a
                        ><a href="/404" class="footer-link">404</a>
                    </div>
                    <div
                        id="w-node-_32f30c02-3be8-5b74-37a8-a671b034e6d6-cf3fcb86"
                        class="text-box _400px">
                        <h5 class="footer-header">Newsletter</h5>
                        <p class="paragraph med-small">
                            Sign up for the latest news, company insights, and Peachy updates.
                        </p>
                        <div class="email-form w-form">
                            <form
                                id="wf-form-Footer-Subscribe-Form"
                                name="wf-form-Footer-Subscribe-Form"
                                data-name="Footer Subscribe Form"
                                method="get"
                                class="email-form"
                                data-wf-page-id="650b1180815c14a2cd40f625"
                                data-wf-element-id="4a954713-5f52-e8a3-d1a3-b18b59b85b50">
                                <div class="email-subscribe">
                                    <input
                                        class="footer-email-input w-input"
                                        maxlength="256"
                                        name="Email"
                                        data-name="Email"
                                        placeholder="Your Email"
                                        type="email"
                                        id="Email"
                                        required="" /><input
                                        type="submit"
                                        data-wait="Please wait..."
                                        class="footer-email-button w-button"
                                        value="&gt;" />
                                </div>
                            </form>
                            <div class="form-success w-form-done">
                                <div>You&#x27;re all signed up.</div>
                            </div>
                            <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spacer _64"></div>
                <div class="horizontal-line"></div>
                <div class="lower-footer-grid">
                    <div class="paragraph small no-margin">© 2023 Peachy. All Rights Reserved.</div>
                    <div
                        id="w-node-_37d13e64-de06-edf8-ab96-0ddb1cc90034-cf3fcb86"
                        class="footer-social-section">
                        <div class="social-grid">
                            <a
                                href="https://twitter.com/"
                                target="_blank"
                                class="social-link w-inline-block"
                                ><img
                                    src="images/vector.svg"
                                    loading="lazy"
                                    alt=""
                                    class="social-link-icon" /></a
                            ><a
                                href="https://www.linkedin.com/"
                                target="_blank"
                                class="social-link w-inline-block"
                                ><img
                                    src="images/linkedin-20-20negative.svg"
                                    loading="lazy"
                                    alt=""
                                    class="social-link-icon" /></a
                            ><a
                                href="https://www.youtube.com/"
                                target="_blank"
                                class="social-link w-inline-block"
                                ><img
                                    src="images/facebook-20-20negative.svg"
                                    loading="lazy"
                                    alt=""
                                    class="social-link-icon"
                            /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>